
.about {
  background: url('/assets/images/home-bg.jpg') no-repeat center center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
}
.about-container {
  text-align: center;
  margin: 20px auto;
  max-width: 800px;
}

.about-container h1 {
  font-size: 2.5rem;
  color: #333;
}

.about-container p {
  font-size: 1.2rem;
  color: #555;
  line-height: 1.6;
}

.profile-picture {
  margin-top: 20px;
  max-width: 200px;
  border-radius: 50%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
